
.vs/LifeCalculator/v16/.suo
.vs/LifeCalculator/v16/Server/sqlite3/db.lock
.vs/LifeCalculator/v16/Server/sqlite3/storage.ide
.vs/LifeCalculator/v16/Server/sqlite3/storage.ide-shm
.vs/LifeCalculator/v16/Server/sqlite3/storage.ide-wal
LifeCalcuator.FrameworkTest/obj/Debug/LifeCalcuator.FrameworkTest.csprojAssemblyReference.cache
LifeCalculator.Control/obj/Debug/LifeCalculator.Control.csprojAssemblyReference.cache
LifeCalculator.Control/obj/Debug/LifeCalculator.Control_MarkupCompile.cache
LifeCalculator.ControlTest/obj/Debug/LifeCalculator.ControlTest.csprojAssemblyReference.cache
LifeCalculator.Framework/obj/Debug/LifeCalculator.Framework.csprojAssemblyReference.cache
LifeCalculator.Tools/obj/Debug/LifeCalculator.Tools.csprojAssemblyReference.cache
LifeCalculator.Tools/obj/Debug/LifeCalculator.Tools.csprojAssemblyReference.cache
LifeCalculator.Framework/obj/Debug/LifeCalculator.Framework.csprojAssemblyReference.cache
LifeCalculator.ControlTest/obj/Debug/LifeCalculator.ControlTest.csprojAssemblyReference.cache
LifeCalculator.Control/obj/Debug/LifeCalculator.Control_MarkupCompile.cache
LifeCalculator.Control/obj/Debug/LifeCalculator.Control.csprojAssemblyReference.cache
LifeCalcuator.FrameworkTest/obj/Debug/LifeCalcuator.FrameworkTest.csprojAssemblyReference.cache
*.cache
*.dll
*.dll
*.pdb
*.cache
*.txt
*.json
